<a href="https://colab.research.google.com/github/Sylvariane/La-faim-dans-le-monde/blob/master/P03_03_requetesql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Réaliser une étude de santé publique

## Requête SQL

In [ ]:
%reload_ext sql
%sql postgresql://postgres:user@localhost:5432/donnees_fao
import psycopg2
import pgspecial
from sqlalchemy import create_engine
engine = create_engine('postgresql+psycopg2://postgres:user@localhost:5432/donnees_fao')
print(engine.table_names())

['population', 'dispo_alim', 'equilibre_prod', 'sous_nutrition']

**Question 19** : Écrivez les requêtes SQL permettant de connaître…

*Les 10 pays ayant le plus haut ratio disponibilité alimentaire/habitant en termes de protéines (en kg) par habitant, puis en termes de kcal par habitant.*

In [ ]:
%%sql
SELECT p1.pays, SUM(((dispo_prot / 1000) * (population * 1000) * 365) / (population * 1000)) AS dispo_prot_tot
FROM dispo_alim AS p1
JOIN population AS p2
ON p1.pays = p2.pays
GROUP BY p1.pays
ORDER BY dispo_prot_tot DESC
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/donnees_fao
10 rows affected.

[('Islande', 48.56690000000001),
 ('Chine - RAS de Hong-Kong', 47.11055000000001),
 ('Israël', 46.71999999999999),
 ('Lituanie', 45.391400000000004),
 ('Maldives', 44.646800000000006),
 ('Finlande', 42.9094),
 ('Luxembourg', 41.47860000000001),
 ('Monténégro', 40.8435),
 ('Pays-Bas', 40.68290000000002),
 ('Albanie', 40.65005)]

In [ ]:
%%sql
SELECT p1.pays, SUM((dispo_alim_kcal_p_j) * (population * 1000) * 365 / (population * 1000)) AS dispo_alim_kcal
FROM dispo_alim AS p1
JOIN population AS p2 
ON p1.pays = p2.pays
GROUP BY p1.pays
ORDER BY dispo_alim_kcal DESC
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/donnees_fao
10 rows affected.

[('Autriche', 1376050.0),
 ('Belgique', 1364005.0),
 ('Turquie', 1353420.0),
 ("États-Unis d'Amérique", 1343930.0),
 ('Israël', 1317650.0),
 ('Irlande', 1314730.0),
 ('Italie', 1305970.0),
 ('Luxembourg', 1292100.0),
 ('Égypte', 1284070.0),
 ('Allemagne', 1278595.0)]

*Pour l'année 2013, les 10 pays ayant le plus faible ratio disponibilité alimentaire/habitant en termes de protéines (en kg) par habitant.*

In [ ]:
%%sql
SELECT p1.pays, SUM(((dispo_prot / 1000) *(population * 1000) * 365) / (population * 1000)) AS dispo_prot_tot
FROM dispo_alim AS p1 
JOIN population AS p2 
ON p1.pays = p2.pays
GROUP BY p1.pays
ORDER BY dispo_prot_tot ASC
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/donnees_fao
10 rows affected.

[('Libéria', 13.7459),
 ('Guinée-Bissau', 16.07825),
 ('Mozambique', 16.673200000000005),
 ('République centrafricaine', 16.8046),
 ('Madagascar', 17.041850000000004),
 ('Haïti', 17.410500000000006),
 ('Zimbabwe', 17.636799999999994),
 ('Congo', 18.764650000000003),
 ('Ouganda', 19.21360000000001),
 ('Sao Tomé-et-Principe', 19.381500000000003)]

*La quantité totale (en kg) de produits perdus par pays en 2013.*

In [ ]:
%%sql 
SELECT pays, SUM((pertes)*1000) AS pertes_totales
FROM equilibre_prod
GROUP BY pays
ORDER BY pertes_totales DESC
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/donnees_fao
10 rows affected.

[('Chine, continentale', 89575000.0),
 ('Brésil', 75914000.0),
 ('Inde', 55930000.0),
 ('Nigéria', 19854000.0),
 ('Indonésie', 13081000.0),
 ('Turquie', 12036000.0),
 ('Mexique', 8289000.0),
 ('Égypte', 7608000.0),
 ('Ghana', 7442000.0),
 ("États-Unis d'Amérique", 7162000.0)]

*Les 10 pays pour lesquels la proportion de personnes sous-alimentées est la plus forte.*

In [ ]:
%%sql
SELECT p1.pays, ((nb_personnes*1000000)/(population*1000)*100) AS pourcent_personnes
FROM sous_nutrition AS p1
JOIN population AS p2
ON p1.pays = p2.pays
WHERE p1.annee = '2012-2014'
GROUP BY p1.pays, nb_personnes, population
ORDER BY pourcent_personnes DESC
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/donnees_fao
10 rows affected.

[('Haïti', 50.40224871571193),
 ('Zambie', 48.146364949446316),
 ('Zimbabwe', 46.64310954063604),
 ('République centrafricaine', 43.327556325823224),
 ('République populaire démocratique de Corée', 42.57883109058044),
 ('Congo', 40.46762589928058),
 ('Tchad', 38.20662768031189),
 ('Angola', 37.72354694485842),
 ('Libéria', 37.26129482999534),
 ('Madagascar', 35.76881134133042)]

*Les 10 produits pour lesquels le ratio Autres utilisations/Disponibilité intérieure est le plus élevé.*

In [ ]:
%%sql
SELECT produit, AVG(autres_utilisations/dispo_int) AS ratio
FROM equilibre_prod
WHERE dispo_int <> 0 AND autres_utilisations IS NOT NULL
GROUP BY produit
ORDER BY ratio DESC
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/donnees_fao
10 rows affected.

[('Alcool, non Comestible', 0.9826086956521739),
 ('Plantes Aquatiques', 0.9002359317268519),
 ('Huile de Palmistes', 0.7749286639270926),
 ('Piments', 0.7391304347826086),
 ('Huile de Palme', 0.6522679724596853),
 ('Huile de Colza&Moutarde', 0.6182007324197117),
 ('Huile de Coco', 0.5621967506134432),
 ('Huil Plantes Oleif Autr', 0.5493218652683649),
 ('Palmistes', 0.5313460716913118),
 ('Huile de Son de Riz', 0.5029546758462421)]

**Question 20** : Pour quelques uns des produits identifiés dans cette dernière requête SQL, supposez quelles sont ces "autres utilisations" possibles (recherchez sur internet !)

Ces produits sont essentiellement cultivés pour répondre à des besoins cosmétiques (huile de palme, huile de coco, graisses animales crues, alcool non comestibles), à des besoins pour la préparation de produits alimentaires (huile de palme, manioc) ou encore pour des besoins pharmaceutiques (manioc, huile de poissons).